body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    transition: all 0.3s ease;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form-container input[type="text"] {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s ease;
}

.form-container input[type="text"]:focus {
    border-color: #007bff;
}

.form-container button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

li:hover {
    background-color: #f9f9f9;
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.task-desc {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
    transition: color 0.3s ease;
}

button {
    border: none;
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



button.add-button {
    background: linear-gradient(to right, #007bff, #0056b3);
}

button.done-button {
    background-color: #28a745; /* Green color for Done button */
}

button.edit-button {
    background-color: #ffc107; /* Yellow color for Edit button */
}

button.delete-button {
    background-color: #dc3545; /* Red color for Delete button */
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

button.add-button:hover {
    background: linear-gradient(to right, #0056b3, #003a73);
}

button.done-button:hover {
    background-color: #218838; /* Dark green color on hover for Done button */
}

button.edit-button:hover {
    background-color: #e0a800; /* Dark yellow color on hover for Edit button */
}

button.delete-button:hover {
    background-color: #c82333; /* Dark red color on hover for Delete button */
}